.page_tit, .page-tit{text-align: center; padding: 80px 0; font-size:50px; font-weight:600; color:#505d68;}
section{height:calc(100% - 210px);}
.le_desc{text-align: right; float: left;}
.rig_desc{float: right;}
.cen_img{text-align: center; width:18.7%; margin:0 auto;}
.cen_img img{display: inline-block; width:100%;}
.le_desc, .rig_desc{width:37.1%;}
.le_desc, .cen_img, .rig_desc{padding:0 1%;}
.le_desc_txt, .le_icon{float: right;}
.le_desc_txt, .rig_desc_txt{margin:0 23px;}
.rig_desc_txt, .rig_icon{float: left;}
.le_desc > li, .rig_desc > li{margin-top:100px;}
.le_desc > li:first-child, .rig_desc > li:first-child{margin-top:74px;}
.le_desc_txt > p, .rig_desc_txt > p, .aest-txt > p{margin-top:25px; color:#a1aeb7; font-size: 16px; line-height: 24px;}
.decs_tit, .info_tit, .aest-tit{display: inline-block;font-size: 21px; font-weight: 600; color:#505d68;}
.le_icon > i, .rig_icon > i{color:#ccc; font-size:30px;}


.com_body{background-color: #f2f5f7;}
.wrap{max-width:1140px; margin:0 auto; padding:0 2.5%;}
.com_wrap{margin:-2.6% -1.3% 0 -1.3%;}
.kit_info{width:30.7%; float: left;  padding:0 1.3%; margin-top: 2.6%;}
.kit_info:nth-child(3n+1){clear: both;}
.kit_info .kit_info_wrap{border: 1px solid #a1aeb7; padding:15% 11%; box-sizing: border-box;background-color:#fff;}
.info_tit{margin-top:54px;}
.info_icon > i{color:#ccc; font-size:60px}
.info_desc{margin-top:25px; color:#a1aeb7; font-size: 16px; line-height: 24px; }


.over{position: relative;}
.phone-tab{text-align: center; }
.phone-tab li{padding:0 1.2%;display: inline-block;}
.phone-tab li .phone-tab-list{float: left; width:165px; text-align: center; border: 1px solid #424b5a; border-radius: 5px; padding:12px 0; box-sizing: border-box;}
.phone-tab li:first-child .phone-tab-list{background-color: #424b5a; color:#fff;}
.tab-arti{margin-top:70px; }
.aest-txt-wrap{padding:0 100px 0 542px; margin-top:65px;}
.aest-txt{max-width: 350px;}
.aest-img{position: absolute; bottom: -86px; left: 131px;}
.aest-img, .aest-txt-wrap{float: left;}
.aest-list{margin-top:40px;color:#a1aeb7; font-size: 16px; margin-left: -5%;}
.aest-list li{margin-top:18px;}
.aest-list li i{color:#333; font-size:25px; padding:0 5%; float: left;}
.aest-list li span{float: left; margin-top:5.5px;}


.page-tit-rig{display: inline-block;}
.head-btn{float: right; padding:98px 0; width:114px; margin-right:-2.5%;}
.head-btn > i{padding:0 15%;}

.thum-list{margin: -2.3% -1.5% 0 -1.5%;}
.thum-list li{display: block; width:25%; float: left; padding:1.2%; box-sizing: border-box; } /* margin-top:2.3%; */
.thum-list li.large {width:50%}
.thum-list .large-size{width:47.5%;}
.thum-wrap{border: 1px solid #c2d1d9; position: relative;}
.thum-wrap .label{position: absolute; top:5px; left: 5px; background: gray; padding: 5px;}
.thum-wrap .none-img{
    width:50px;
    height: 40px;
    position: absolute; 
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
/* .large-size .thum-img-area{width:calc(100% - 1px); height:361px; background-color: #f2f5f7;}
.large-size .thum-img-area .thum-info{width:40%;}
.large-size .thum-img-area .thum-info .thum-tit{margin-top:77%;}
.large-size .thum-wrap{width:556px;} */
.thum-wrap .thum-img-area{position:relative; padding-bottom:74.5%; background-color: #f2f5f7; overflow:hidden;}
.thum-wrap .thum-img-area img {position:absolute; top:50%; left:0; display:block; width:100%; transform:translateY(-50%)}
/* width:261px; height:198px; */
.thum-wrap .thum-info{padding:9% 7%; position: absolute; top:100%; border:1px solid gray;}
.large .thum-wrap .thum-info{ position: absolute; bottom:0;}
.thum-wrap .thum-tit{line-height: 21px; display: inline-block;font-size: 16px; font-weight: 600; color:#505d68;}
.thum-wrap .thum-info > p{margin-top:10px; color:#a1aeb7; font-size: 14px; line-height: 21px;}


